@import 'src/assets/style.scss';
.wrap_success {
    width: calc(100% - 60px);
    margin: 30px 30px 0 30px;
    text-align: center;
    padding: 50px 0;
    border: 5px solid green;
    p {
        color:green;
        font-size: 34px;
        text-transform: capitalize;
        font-weight: bold;
        font-family: $font-family;
    }
}
.btn_wrap {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
button {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #353535;
    box-shadow: none;
    color: #353535;
    transition: 0.3s;
    outline: unset;
    &:hover {
        background-color: #353535;
        color: #ffffff;
        cursor: pointer;
    }
}